#filter {
    background: $grey;
    width: 30%;
    max-width: 300px;

    .inside {
        padding: 20px;
        max-width: 300px;
    }

    h4 {
        font-size: .9rem;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-weight: 500px;
    }

    select {
        background: transparent;
        padding: 10px;
        font-size: 14px;
        font-weight: 300;
        color: $darkgrey;
        color: #1b1b1b;
        display: block;
        margin-bottom: 25px;
        width: 100%;
    }

    .filters {
        .title {
            font-size: .9rem;
            display: block;
            margin-bottom: 1rem;
            color: $darkgrey;
        }
        input[type="text"] {
            border-radius: 5px;
            display: inline-block;
            font-size: 1rem;
            padding: 0.4rem;
            width: 45%;
            margin-right: 2.5%;
            margin-bottom: 1rem;
        }

        &.extras {
            label {
                display: block;
                width: 100%;
                padding: 10px 0;

                input[type="checkbox"] {
                    float: right;
                }
            }
        }
    }
}