header {
    background: #0c002B;
    color: white;
    overflow: auto;
    padding: 20px 15px;

    .logo {
        float: left;
    }
    nav {
        float: right;
        a {
            color: white;
            text-decoration: none;
            padding: 7px 20px;
            height: 100%;
            text-transform: capitalize;
            font-weight: 300;
            font-size: .9rem;

            &:hover {
                background-color: #FF718E;
            }
            
            &.register {
                background-color: $pink;
                
                text-align: center;
                color: white;
                border-radius: 5px;
            }
        }
        
    }
}